body {
    text-align: center;
}

.container{
    width: 100%;
}

.game {
    width: 30%;
    border: 1px solid black;
    display: block;
    min-height: 280px;
    margin: 0 auto;
}



#WL{
    width:100%;
    height:100px;
    background: white;
}



#hide2,
#hide3{
    display: none;
}

